p {
  @include rem(margin, 0 0 10px);

  @include media-query-small {
    @include rem(margin, 0 0 15px);
  }
}

i {
  font-style: normal;
}

h1,
.alpha-text {
  @extend %alpha-text;
}

h2,
.beta-text {
  @extend %beta-text;
}

h3,
.gamma-text {
  @extend %gamma-text;
}

.base-text {
  @include rem(font-size, $base-font-size-sm * 1px);
  font-family: $font__helvetica--system;
  margin: 0;

  @include media-query-small {
    @include rem(font-size, $base-font-size-lg * 1px);
  }
}

h1,
.alpha-text,
h2,
.beta-text,
h3,
.gamma-text,
h4,
.delta-text,
h5,
.epsilon-text,
h6,
.zeta-text {
  @extend %base-header;
}

h1,
.alpha-text,
h2,
.beta-text {
  font-family: $font__helvetica--light;
}

h3,
.gamma-text {
  font-family: $font__helvetica--medium;
}

.small-text {
  @include rem(font-size, 13px);
  @include rem(line-height, 14px);
}

// Tones (for highlighting text)
strong {
  @extend %tone--highlight;
}