@font-face {
	font-family: 'mns-icons';
	src:url('fonts/mns-icons.eot?icmog0');
	src:url('fonts/mns-icons.eot?#iefixicmog0') format('embedded-opentype'),
		url('fonts/mns-icons.ttf?icmog0') format('truetype'),
		url('fonts/mns-icons.woff?icmog0') format('woff'),
		url('fonts/mns-icons.svg?icmog0#mns-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mns-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delivery-email:before {
	content: "\e634";
}
.icon-sparks:before {
	content: "\e633";
}
.icon-print:before {
	content: "\e632";
}
.icon-arrow-heavy:before {
	content: "\e608";
}
.icon-calendar:before {
	content: "\e60a";
}
.icon-store:before {
	content: "\e60b";
}
.icon-truck:before {
	content: "\e60c";
}
.icon-edit:before {
	content: "\e60d";
}
.icon-gift:before {
	content: "\e616";
}
.icon-toilet:before {
	content: "\e628";
}
.icon-no-toilet:before {
	content: "\e629";
}
.icon-no-car-collect:before {
	content: "\e62a";
}
.icon-no-park:before {
	content: "\e62b";
}
.icon-no-baby-chng:before {
	content: "\e62c";
}
.icon-car-collect:before {
	content: "\e62d";
}
.icon-park:before {
	content: "\e62e";
}
.icon-baby-chng:before {
	content: "\e62f";
}
.icon-arrow-left:before {
	content: "\e630";
}
.icon-arrow-down:before {
	content: "\e625";
}
.icon-arrow-right:before {
	content: "\e626";
}
.icon-locator-pin:before {
	content: "\e627";
}
.icon-email:before {
	content: "\e61b";
}
.icon-facebook:before {
	content: "\e61c";
}
.icon-googleplus:before {
	content: "\e61d";
}
.icon-instagram:before {
	content: "\e61e";
}
.icon-pintrest:before {
	content: "\e61f";
}
.icon-mobile:before {
	content: "\e620";
}
.icon-twitter:before {
	content: "\e621";
}
.icon-youtube:before {
	content: "\e622";
}
.icon-checkout:before {
	content: "\e614";
}
.icon-fave:before {
	content: "\e615";
}
.icon-my-account:before {
	content: "\e610";
}
.icon-arrow-light:before {
	content: "\e60f";
}
.icon-service:before {
	content: "\e60e";
}
.icon-tick:before {
	content: "\e609";
}
.icon-bag:before {
	content: "\e607";
}
.icon-close:before {
	content: "\e603";
}
.icon-confirmation:before {
	content: "\e604";
}
.icon-error:before {
	content: "\e605";
}
.icon-information:before {
	content: "\e606";
}
.icon-logo:before {
	content: "\e600";
}
.icon-logo-est:before {
	content: "\e601";
}
.icon-logo-only:before {
	content: "\e602";
}
.icon-location:before {
	content: "\e613";
}
.icon-menu:before {
	content: "\e611";
}
.icon-search:before {
	content: "\e612";
}
.icon-checkbox-off:before {
	content: "\e619";
}
.icon-checkbox-on:before {
	content: "\e61a";
}
.icon-radio-off:before {
	content: "\e617";
}
.icon-radio-on:before {
	content: "\e618";
}
.icon-fave-plus:before {
	content: "\e623";
}
.icon-sign-in:before {
	content: "\e624";
}
.icon-cancel-order:before {
	content: "\e631";
}
