@import 'bourbon';
@import '../../typography/variables';

// Rotate icon 180 on hover
%icon--rotate {
  @include transform(translateY(-2px) rotate(180deg));
  display: inline-block;
}

%mns-icons {
  font-family: $font__icons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
